{% extends 'base.html.twig'%}

{% block body %}
    <a href="{{ path('logout_espaceperso') }}">Déconnexion</a>
    <a href="{{ path('pro_espaceperso') }}">Espace pro</a>
    Ceci est la page dashboard de l'espace perso<br >
{% endblock %}